/* Navbar styles */
.navbar {
  background-color: #838280 !important;
}

/* Container styles */
.container {
  margin-top: 20px;
}

.my-container {
  background-color: white;
  margin-top: -20px;
  max-width: 976px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.my-container-about {
  background-color: white;
  max-width: 100%;
  padding: 15px;
}


.image-container.fixed-height {
  height: 170px;
  overflow: hidden;
  position: relative;
}

.img-fluid.fixed-image {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.mb-3 {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
}

/* Image container styles */
.image-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.img-fluid {
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 5px;
  
}
img{
  overflow-clip-margin:unset;
}

.selected-image-col {
  height: 270px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text styles */
.about-title {
  color: #E17126;
  margin-top: 0;
}

.about-text, .small-text p {
  color: #762A2B;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
  padding-right: 30px;
}

.small-text {
  font-size: 12px;
}

/* Border styles */
.one {
  margin-top: -15px;
}

.two {
  display: flex;
  align-items: stretch;
  height: auto;
}

.three {
  border: 5px solid #e17126;
  background: white;
  margin: auto;
  margin-top: -30px;
  
}

.four {
  background-color: gainsboro;
  max-width: 960px;
  margin: auto;
  margin-top: -50px;
}

.five {
  border: 10px solid #dededc;
  max-width: 960px;
  margin: auto;
}

/* Modal styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: auto;
  width: 400px;
  background-color: #838280;
}

.modal-content {
  position: relative;
  background-color:#FCFCFC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.close {
  background: #FCFCFC;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #080606;
}

.carousel-item {
  margin-top: 10px;
}

.carousel-slide {
  height: 500px;
}

.w-100 {
  height: 320px;
  margin-top: -5px;
}
.row{
    --bs-gutter-x: .5rem;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .image-container {
    height: 150px; /* Adjusted height for better fit */
  }
  
  .selected-image-col {
    height: 200px; /* Adjusted height for better fit */
  }
  .about-text, .small-text p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .selected-image-col {
    height: 180px; /* Further adjust height for smaller screens */
  }

  .three {
    border: 2px solid #e17126;
    margin-top: -40px; /* Adjusted margin for better fit */
  }
  
  .four {
    font-size: 12px;
    background-color: gainsboro;
    margin: auto;
  }
  
  .small-text {
    font-size: 10px;
  }
  
  .my-container {
    padding: 10px; /* Add padding for better spacing */
  }
  
  .w-100 {
    width: 100%;
    height: auto; /* Let height adjust automatically */
    margin-top: -10px;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) { 
  .four .col-6 {
      width: 100%;
  }

  .my-container .four {
      margin-top: -80px;
  }

  .w-100 {
      margin: auto;
  }

  .mt-3 .flex-grow-1 {
      margin-bottom: 5px;
  }

  .small-text p {
      display: block;
  }

  .small-text p:first-of-type {
      display: block;
  }

  .small-text.show-full p {
      display: block;
  }
}
